<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gotoday.cancel.CancelMapper">
	<select id="findPaymentByOrderId"
		resultType="kr.co.gotoday.payment.PaymentVO">
		SELECT * FROM payment WHERE order_key = #{orderId}
	</select>
	
	<select id="findReservationByReservationId"
		resultType="kr.co.gotoday.user.ResetvationVO">
		SELECT * FROM reservation WHERE reservation_id = #{reservation_id}	
	</select>
	
	<select id="findContent_scheduleByContentId"
		resultType="kr.co.gotoday.content.ContentScheduleVO">
		SELECT * FROM content_schedule WHERE content_id = #{content_id}
	</select>
	

	<update id="updatePaymentStatusToCancel">
		UPDATE payment
		SET payment_status = 'CANCELED',
		refund_status = 'REFUND_COMPLETED'
		WHERE order_key = #{orderId}
	</update>

	<update id="updateReservationStatusToCancel">
		UPDATE reservation
		SET reservation_status = 'CANCELED'
		WHERE reservation_id = #{reservationId}	
	</update>
	
	<update id=""
	
	
	
</mapper>